$gFontSize: 10px;
$gBorderRadius: 5px;
$gDuration: 0.2s;
$fDef: 'Open Sans', sans-serif;

$listOfColors: (
        'black': $cBlack,
        'white': $cWhite,
        'grey': $cGrey,
        'green': $cGreen,
);
