.flight-card-details__duration {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  color: #202123;
}
